<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>SSENSE Product Recommendation</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <br>
    1/ Product SKU from SSENSE
    <fieldset>
        <legend>Input values:</legend>
        SKU Number:
        <input name="sku" type="text" >
        
        <input type="submit">
    </fieldset>
    <br>
    2/ Product from External Websites
    <fieldset>
        <legend>Input values:</legend>
        Category:
        <input name="category" type="text">
        <br>
        <br> Brand:
        <input name="brand" type="text" >
        <br>
        <br> Product's Name:
        <input name="name" type="text" >
        <br>
        <br> Description:
        <input name="description" type="text" >
        <br>
        <br> Color:
        <input name="color" type="text" >
        <br>
        <br> Country of Origin
        <input name="origin" type="text" >
        <br>
        <br> Material Composition:
        <input name="composition" type="text" >
        <br>
        <br> Sizes:
        <input name="size" type="text" >
        <br>
        <br> Full Price:
        <input name="full_price" type="number" >
        <br>
        <br> Sale Price:
        <input name="sale_price" type="number" >
        <input type="submit">
    </fieldset>
    
</form>
<br>
<div class="result" align="center">
    {% if sku_1 %}
    	{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br>
    	<br> Product 1:
   		<p style="font-size:50px">{{ sku_1 }}</p>
        <p style="font-size:50px">{{ brand_1 }}</p>
        <p style="font-size:50px">{{ name_1 }}</p>
        <br>
    	<br> Product 2:
   		<p style="font-size:50px">{{ result }}</p>
        <br>
    	<br> Product 3:
   		<p style="font-size:50px">{{ result }}</p>
    
    
    {% endif %}
</div>

</html>